//font**
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,900;1,6..12,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/**
  * Tailwind CSS
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Custom Css (Common Css Style)
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input,
textarea {
  outline: none;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
img {
  max-width: 100%;
  // height: auto;
  // object-fit: cover
}

@layer base {
  .container {
    @apply mx-auto;
    max-width: 1280px;
    padding-right: 2rem;
    padding-left: 2rem;

    @screen sm {
      max-width: 720px;
    }
  }
}

$common_color: #4f46e5;
$secondary_color: #f9f9f9dc;
$subtitle_color: rgba(0, 0, 0, 0.8);

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

.title {
  font-size: 1.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  text-align: center;

  & span {
    color: $common_color;
    font-weight: 800;

    ::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $secondary_color;
      margin-bottom: 0.5rem;
    }
  }

  & p {
    font-weight: 400;
    font-size: 1.2rem;
    color: $subtitle_color; // Define your subtitle color variable
  }
}

@layer base {
  .container {
    @apply mx-auto;
    max-width: 1080px;
    padding-right: 1rem;
    padding-left: 1rem;

    @screen sm {
      max-width: 720px;
    }
  }
}

.commonBtn {
  color: #fff;
  font-weight: 500;
  background: $common_color;
  cursor: pointer;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  transition: all 0.3s ease !important;
  position: relative;
  border-radius: 5px;
  box-shadow:
    inset 2px 2px 8px 0px rgba(255, 255, 255, 0.601),
    7px 7px 20px 0px rgba(0, 0, 0, 0.212),
    4px 4px 5px 0px rgba(0, 0, 0, 0.184);
  outline: none;
  font-size: 15px;
}

.countryIcon {
  width: 1.5rem !important;
}

.commonBtn {
  transition: all 0.3s ease !important;
  border: none;
}

.commonBtn:before {
  transition: all 0.3s ease !important;
  height: 0%;
  width: 2px;
}

.commonBtn:hover {
  transition: all 0.3s ease !important;
  box-shadow:
    4px 4px 6px 0 rgba(229, 229, 229, 0.516),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  margin-bottom: 2rem;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.revew-profile {
  width: 3.5rem !important;
  height: 3.5rem !important;
}

.swiper-button-next {
  background: rgba(0,0,0,0.6);
  padding: 1.3rem !important;
  width: 1rem !important;
  border-radius: 0.5rem !important;
  z-index: 999;
}

.swiper-button-prev {
  background: rgba(0,0,0,0.6);
  padding: 1.3rem !important;
  width: 1rem !important;
  border-radius: 0.5rem !important;
  z-index: 999;
}

// ========
.bottom-banner-section {
  background-image: url("../src/Assets/OfferBanner/home-banner01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  background-blend-mode: color;
  background-color: #000000a1;
}

.mobile-bottom-banner-section {
  background-image: url("../src/Assets/OfferBanner/home-banner01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 110px 0;
  background-blend-mode: color;
  background-color: #000000a1;
}

.btn2 span:first-child {
  transform: translateX(-101%);
  transition: transform 0.3s ease-in;
}
.btn2:hover span {
  transform: translateX(0);
}

.btn3 {
  transform: scale(1);
  transition: transform 0.2s ease-in;
}

.btn3:hover {
  transform: scale(1.1);
}

.btn3 span {
  transform: scale(1);
  transition: transform 0.3s ease-in;
}

.btn3:hover span {
  transform: scale(1.1, 1.2);
}

.btn4 span {
  transform: translateX(-101%);
  transition: transform 0.2s ease-in;
}

.btn4:hover span {
  transform: translateX(0);
}

// -----
.mainNav {
  display: flex;
  justify-content: space-between !important;
}

.myntraLink {
  width: 1.2rem !important;
  height: 1.2rem !important;
}

//=-==== vedio slider

.otherVedioSlider{
  margin-top: .6rem !important;
  width: 300px !important;
  height: 480px !important;
}

.vedioSliderCard {
  width: 280px !important;
  height: 490px !important;
}

.vedioContent {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0.6rem !important;
  object-fit: cover;
}

.additional-card {
  position: relative;
}

.additional-card .vedioContent {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 1rem !important;
  top: 0;
  left: 0;
}

.activeCardMain {
  // margin:1rem;
}

/* Style the checkbox container */
input[type='checkbox'] {
  height: 25px !important; /* Size of the checkbox */
  width: 25px !important; /* Size of the checkbox */
  // background-color: #ccc !important; /* Unchecked background color */
  border: 1px solid #999 !important;
  border-radius: 4px !important;
}

/* Hide the default checkbox input */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.control-dots{
  display:none;
}
 